.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.main .main-cta {
    align-self: center;
    margin: 0 1em;
}

.main .cover-img {
    width: 30vw;
    height: auto;
    max-height: 400px;
    margin: 2em;
    margin-top: 0;
}

@media (max-width: 768px) {
    .main {
        flex-direction: column;
        justify-content: center;
    }

    .main .cover-img {
        height: 40vh;
        width: auto;
        max-width: 400px;
    }
}