.main {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: stretch;
}

.main .img-wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
}

.img-wrapper .main-img {
    background: url('../images/landing-page-girl.png');
    flex-grow: 1;
    min-width: 30vw;
    max-height: 70vh;
    background-size: contain;
    background-position: bottom left;
    background-repeat: no-repeat;
}

.main .main-cta {
    margin: 0 1em;
    align-self: center;
}

.main-flare-1 {
    bottom: 2vh;
    left: 5vw;
    background-color: rgba(188, 58, 128, 0.15);
}

.main-flare-2 {
    width: 15vw;
    height: 15vw;
    top: 12vh;
    left: 30vw;
}

.main-flare-3 {
    width: 30vw;
    height: 30vw;
    bottom: 0;
    right: 0;
    background: none;
    border-radius: 0%;
    overflow: hidden;
}

.main-flare-3::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(40%, 40%);
    border-radius: 50%;
    background-color: rgba(52, 87, 188, 0.15);
}

@media (max-width: 900px) {
    .main .img-wrapper {
        display: none;
    }

    .main {
        justify-content: center;
    }
}